:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --text-hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    font-family: 'Arenas movedizas', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px ;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu{
    display: none;
}
.logo{
    height: 50px;
    width: 100%;
    
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height:60px;
}
.navbar-left{
    display: flex;

}
.navbar-left ul{

    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    color: var(--text-hospital-green);
    border: 1px solid var(--text-hospital-green)
}


 /* estilo del conteiner de botones */
       
 .cards-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 26px;
    place-content: center;
}
.product-card {
    width: 240px;

}
.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure {
    margin: 0;
}
.product-info figure img {
    width: 32px;
    height: 32px;
}

.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;

    
}
.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);

}






@media (max-width:640px) {
    .menu{
        display: block;
        
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .cards-conteiner {
        display: grid;
        grid-template-columns: repeat(auto-fill,140px);
        
        
    }
    .product-card {
        width: 140px;

    }
    .product-card img {
        width: 140px;
        height: 140px;

    }
}
