:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --red: #c23644;
    --gris: #EDF2F4;
    --white: #FFFFFF;
    --black: #0a141d;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arenas movedizas', sans-serif;
}





/* estilos del nav */


nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px ;
    border-bottom: 1px solid var(--very-light-pink);
    background-color: var(--gris);
}
.menu{
    display: none;
}
.logo{
    height: 50px;
    width: 100%;
    
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height:60px;
}
.navbar-left{
    display: flex;

}
.navbar-left ul{

    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--black);
    border: 0px solid var(--black);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    color: var(--red);
    border: 1px solid var(--red);
}


/* estilos del hero */
.hero{
    display: grid;
    place-items: center;
}
.welcome{
    display: flex;
    top: 25%;
    flex-direction: column;
    position: absolute;
    text-align: center;
    }
.welcome h1{
    margin-bottom: 25px;
    font-size: 40px;
}
.conteiner-titulo{
    display:inline-flex;
}
.conteiner-titulo h1:nth-child(2){
    padding-left: 13px;
    color: var(--red);
}
/* particles.js */

#particles-js{
    width: 100%;
    height: 50vh;
    
}

 /* estilo del conteiner de botones */





.main-conteiner {
    margin-top: 100px;
}

.texto-modelo{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--black);
}
 .cards-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill,260px);
    place-content: center;
}

.bottom-info{ 
    display: flex;
    justify-content: center;
    text-align: center;  
    align-items: center; 
    text-decoration: none;
    margin-top: 12px;
    font-weight:bolder;
    font-size: var(--lg);
    width: 230px;
    height: 100px;
    background-color: var(--white);
    border: none;
    border: 1px solid var(--red);
    border-radius: 8px;
    color: var(--black);
    padding: 3px;
    margin: 20px;  
    margin-top: 10px;

}

.bottom-info:hover{
    width: 231px;
    height: 101px;
    border: 3px solid var(--red);
    font-size: 19px;
    background-color:#f8f8f8 ;
}


/* estilos footer */

footer{
    margin-top: 40px;
    width: 100%;
    background-color: var(--black);
}

.footer-conteiner{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.footer-about{
    margin-left: 40px;
}
.footer-about h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-about p{
    color: #efefef;
    margin-bottom: 10px;
}

.footer-follow-user{
    display:flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.footer-follow-user a{ 
      
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;

    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.footer-follow-user p{
    font-size: 16px;
    color: var(--white);
    margin-top: 10px;
}

.footer-follow-user a:hover{
    color: var(--red);
}

.footer-copy{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: var(--white);
}
.footer-copy small{
    font-size: 15px;
}

@media (max-width:640px) {
    .menu{
        display: block;
        
    }
    .navbar-left{
        display: none;
    }
    .conteiner-titulo{
        display: block;
    }
    .cards-conteiner {
        display: grid;
        grid-template-columns: repeat(auto-fill,310px);
        
        
    }
    .bottom-info {
        margin-left:0 ;
        margin-right: 0;
        width: 300px;

    }

    .bottom-info:hover{
        width: 300px;
        height: 101px;
    }
    .footer-conteiner{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }


}
