:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --red: #c23644;
    --gris: #EDF2F4;
    --white: #FFFFFF;
    --black: #0a141d;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Arenas movedizas', sans-serif; 
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px ;
    border-bottom: 1px solid var(--very-light-pink);
    background-color: var(--gris);
}
.logo{
    margin-top: 5px;
    height: 50px;
    width: 100%;
    
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height:60px;
}
.navbar-left{
    display: flex;

}
.navbar-left ul{

    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--black);
    border: 0px solid var(--black);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    color: var(--red);
    border: 1px solid var(--red);
}

/* estilos de menu */


.menu {
    width: 100%;
    height: 100vh;
   
    
}
.conteiner-primary{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.conteiner-secundary{
    margin-left: 30px;
}
.conteiner-resultados{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid var(--red);
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
}
.form-conteiner{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid var(--red);
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
    
}

.conteiner-info{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid var(--red);
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
   
    
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    
}

.titulo{
    font-size: var(--lg);
    color: var(--red);
    font-weight: bold;
    margin-bottom: 8px;
    
}

.titulo-sec{

    font-size:22px;
    padding: 4px;
    color: var(--red);
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}

.label {
    display: flex;
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 2px;
    align-items: center;
    width: 200px;
    
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 95%;
    font-size: var(--md);
    padding: 4px;
    
}

.primary-button{
    display: grid;
    margin-top: 16px;
    background-color: var(--red);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 30%;
    text-align: center;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
    margin-left: 30%;
}

.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}


li{
    list-style:none;
    
}
ul{
    padding: 0;
}

.texto-resultado-primary{
    font-weight: bold;
}

.texto-resultado-secundary{
    height: 30px;
}


/* estilos aside */


.conteiner-links{
    margin-top: 40px;
    border: 2px solid var(--red);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-right: 20px;
}

.titulo-link{
    font-weight:bolder;
}
.titulo-link-subtitulo{
    padding-left: 6px;
    font-weight:bolder;
}
.enlace{
    padding-left: 14px;
    text-decoration: none;
    margin-top: 15px;
}
.enlace a{
    font-weight:lighter;
    text-decoration: none;
    color: var(--black);
}

.enlace a:hover{
    font-weight:bold;
    text-decoration: none;
    color: var(--red);
}

/* estilos footer */

footer{
    display: inline-block;
    margin-top: 40px;
    width: 100%;
    background-color: var(--black);
}

.footer-conteiner{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.footer-about{
    margin-left: 40px;
}
.footer-about h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-about p{
    color: #efefef;
    margin-bottom: 10px;
}

.footer-follow-user{
    display:flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.footer-follow-user a{ 
      
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;

    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.footer-follow-user p{
    font-size: 16px;
    color: var(--white);
    margin-top: 10px;
}

.footer-follow-user a:hover{
    color: var(--red);
}

.footer-copy{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: var(--white);
}
.footer-copy small{
    font-size: 15px;
}


@media (max-width:700px) {
    .navbar-right{
        display: none;
    }
    .conteiner-primary{
        display: flex;
    }
    .menu{
        display: grid;
        place-items: center;
    }

    .form-conteiner{
        display: flex;
        flex-direction: column;
    }

    .conteiner-resultados{
        display: flex;
        flex-direction: column;
    }


    .conteiner-info{
        display: flex;
        flex-direction: column;
        width: 277px;
    }
    .grid{
        display: flex;
        flex-direction: column;
        
    }
    ul{
        margin: 0px;
    }
    .conteiner-secundary{
        margin-left: 0px;
    }
    .titulo{
        text-align: center
    }

    .aside{
        display: none;
    }

    .primary-button{
        margin-top: 40px;
        margin-left: 10%;
        width: 80%;
        bottom: 0;
        margin-bottom: 16px;
        
    }

    .footer-conteiner{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

}