:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;

    --red:#ff0000;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 20px;
}

body {
    margin: 0;
    font-family: 'Arenas movedizas', sans-serif;
}
.menu {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    
}
.conteiner-primary{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.conteiner-secundary{
    margin-left: 30px;
}
.conteiner-resultados{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid var(--red);
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
}
.form-conteiner{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid var(--red);
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    
}

.titulo{
    font-size: var(--lg);
    color: var(--red);
    font-weight: bold;
    margin-bottom: 8px;
    
}

.label {
    display: flex;
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 2px;
    align-items: center;
    width: 200px;
    
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
 
    font-size: var(--md);
    padding: 4px;
    
}

.primary-button{
    display: grid;
    margin-top: 16px;
    background-color: var(--red);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 30%;
    text-align: center;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
    margin-left: 30%;
}

.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}

.conteiner-links{
    border: 2px solid var(--red);
    padding: 10px 20px 10px 0px;
    border-radius: 10px;
    margin-right: 20px;
}
li{
    list-style:none;
}
ul{
    padding: 0;
}
.texto-resultado-secundary{
    height: 30px;
}


@media (max-width:700px) {
    .conteiner-primary{
        display: flex;
    }

    .form-conteiner{
        display: flex;
        flex-direction: column;
    }

    .conteiner-resultados{
        display: flex;
        flex-direction: column;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    .conteiner-secundary{
        margin-left: 0px;
    }

    .aside{
        display: none;
    }

    .secondary-button{
        width: 80%;
        bottom: 0;
        margin-bottom: 16px;
        
    }
}